@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', Arial, sans-serif;
    color:white;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-image: url('images/fond1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header{
    position: fixed;
}

a{
    text-decoration: none;
    color: white;
}
/*bouton*/

#gd p{
    font-size: 3em;
}
.bouton{
	display: block;
	margin-top: 4.5em;
    margin-left: 6em;
    width: 13em;
    height: 13em;
    border: 2px;
    outline: none;
    color: #fff;
    background: rgb(38, 79, 80);
    border-radius: 50%;
}

.bouton:before {
    content: '';
    background: linear-gradient(50deg, #aeaeae,#f8f8f8, #c2c2c2, #f0f0f0,#c3c3c3, #cdcdcd, #a0a0a0,#b1b1b1, #dbdbdb);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(1px);
    width: calc(103% + 0px);
    height: calc(103% + 1px);
    animation: glowing 50s linear alternate-reverse infinite;
    opacity: 1;
    transition: opacity 0.1s ease-in;
	border-radius: 50%;
}

.bouton:active {
    color: rgb(182, 180, 180);
	background-color: #000000;
}

.bouton:active:after {
    background: transparent;
}

.bouton:hover:before {
    opacity: 1;
}

.bouton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% { background-position: 0 0;}
    50% { background-position: 600% 0;}
    100% { background-position: 0 0; }
}


.fondsite{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.menu{
    position:fixed;
    display: block;
    width: 21em;
    margin: 2em;
    padding: 10px;
    padding-left: 2em;
    top:15em;
}
.menu ul{
    list-style-type: none;
}
.menu li{
    margin-bottom: 35px;
    margin-left: -15px;
}

.menu a{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
    color:white;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

.menu a::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    background: white;
    transition:width 0.2s ease-in-out;
}

.menu a:hover::after{
    width:92%;
}
.underline{
    text-decoration: underline;
}
/* HELPER------------------------------------------- */

.containerhelp{
    position: fixed;
    bottom: 0;
    margin-left:0;
    width: 30em;
    height: 0;
    border-radius: 0.2em;
    transition: 0.5s ease-in-out;
    background-color: rgb(20, 20, 20);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.containertexte{
    width: 90%;
    padding-bottom: 1em;
}
.containertexte h3{
    color: cadetblue;
    letter-spacing: 0.3em;
}
#miniatureg{
    float: left;
    padding-right: 1em;
    height: 10rem;
}

.contenuminiature{
    line-height: 1.5em;
}

.slidehome{
    display:block;
    float: right;
    position: relative;
    top:60vh;
    bottom: 0;
    right: 0;
    width: 70%;
    background-color: rgba(20, 20, 20,0.3);
}

#guillaume{
    width: 9em;
    float: left;
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 3em;
}
#presentation{
    margin-top: 4em;
    line-height: auto;
    letter-spacing: 0.2em;
}
#presentation h2{
    color:rgb(114, 190, 193);
}
.texthome{
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    margin: auto;
    text-align: justify;
    line-height: 2em;
    width: 90%;
}
h1{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:1.6em;
    letter-spacing: 3px;
    font-weight:lighter;
    color: white;
    text-transform: uppercase;
    border-right: 20px;
    width: 30em;
    padding-left: 50px;

}

h2{
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    font-weight:lighter;
    padding-left: 50px;

}

/* ICONE SCROLL*/
.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%
}

.icon-scroll{
    width: 30px;
    height: 50px;
    margin-left: 40%;
    top: 0.5%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    background: #fff;
    border-radius: 25px
}

.icon-scroll:before{
  content: '';
  width: 4px;
  height: 8px;
  background: rgb(47, 47, 47);
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0%{opacity: 1;}
  100%{opacity: 0; transform: translateY(20px);}
}

/* COMPETENCES-----------------------------------------------------*/

.barreformcomp{
    background-color: white;
    width: 19.3em;
    height: 2px;
    margin-left: 50px;
    margin-top: -20px;
}

.projet{
    display:block;
    position:fixed;
    bottom: 0;
    right: 0;
    width: 50em;
    height:100%;
    background-color: cadetblue;
}

.texteprojet{
    width:40em;
    text-align: justify;
    margin: auto;
}


.grille i{
    margin: auto;
    width: 2em;
    font-size: 5em;
    margin-top: 0.3em;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.grille i:hover{
    transform: scale(1.1);
    color: cadetblue;
}
.grille{

    max-width: 1300px;
    width:100%;
    height: auto;
    margin-top:2em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap:1em;
}
.grid-item{
    margin-top: 2em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* SERVICES-----------------------------------------------------*/

.barreformservice{
    background-color: white;
    width: 14em;
    height: 2px;
    margin-left: 50px;
    margin-top: -20px;
}

.containerservice{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
}
.containerservice i{
    font-size: 3em;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30%;
    color:cadetblue;
}

.cadreservice{
    position: relative;
    width: 20em;
    height: 15em;
    margin: 1em;
    border: 1px solid white;
    box-shadow:0px 0px 15px 0px rgba(89, 89, 89, 0.75);
    color: white;
    transition: 0.3s ease-in;
}

.cadreservice:hover{
    background-color: rgb(255, 255, 255);
    color: cadetblue;
    box-shadow:0px 0px 20px 0px rgba(255, 255, 255, 0.75);
}
.cs1:hover{
    transform: translate(-20px,-20px);
}
.cs2:hover{
    transform: translate(20px,-20px);
}
.cs3:hover{
    transform: translate(-20px,20px);
}
.cs4:hover{
    transform: translate(20px,20px);
}
.cadreservice p{
    text-align: center;
    margin: auto;
    margin-top: 2em;
    font-size: 1.3em;
}
.cadreservice i{
    position: relative;
}
.pulsar{
    position: absolute;
    display: block;
    margin: auto;
    left: 25%;
    right: 25%;
    height: 5rem;
    width: 5rem;
    top:25%;
    bottom: 25%;
    background-color: white;
    opacity: 0.5s;
    border-radius: 50% 50%;
    transform: scale(1);
    animation: pulse 3s infinite ;
    z-index: -1;
}

@keyframes pulse{
0%{
transform: scale(0.95);
box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
}
70%{
    transform: scale(1);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
}
100%{
    transform: scale(0.95);
}

}
.piedpage::before{
    content: "";
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 95%;
    height: 1px;
    background-color: white;
}
.piedpage{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap:2em;
    font-size: 2em;
}
.end p{
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
/*Desktop*/
@media screen and (min-width: 64em){

    .burger i{
    visibility: hidden;
    }

}

/*Mobile*/
@media screen and ( max-width: 64em) {

    body{
        overflow-x: hidden;
        width: 100vw;
        background-image: none;
        background-color: rgb(20,20,20);
    }

    header{
        background-color: #000000;
        z-index: 10;
        height: 12vh;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .fondsite{
        background-color: #fff;    
    }

    #gd p{
       margin: auto;
       font-size: 1em;
    }
    .bouton{
        width: 4em;
        height: 4em;
        margin: auto;
        margin-left: 10em;
        top:15%;
    }

    .menu{
        overflow: hidden;
        position: fixed;
        z-index: 1;
        width: 100%;
        margin: auto;
        height: 0;
        top:10%;
        transition: 0.5s ease;
        /* background-color: rgb(38, 79, 80); */
        
    }
    .menuopen{
        display: block;
        background-color: rgb(38, 79, 80);
        height: 13em;
        width: 100%;
    }
    ul{
        display: block;
        width: 100%;
        text-align: left;
        margin: auto;
        padding: 1em;
    }
    ul a{
        margin: auto;
        font-size: 0.75em;
    }
    .burger i{
        z-index: 12;
        position: fixed;
        display: inline-block;
        font-size: 2em;
        margin-top: 6%;
        left:4%;
        color: white;
    }

    .burger{
        z-index: 12;
        left:0;
        color: white;
    }
    #guillaume{
        float: inherit;
        width: 30vw;
        margin-right: 30%;
    }
    #presentation h1{
        padding-top:  6em;
        width: 80%;
    }
    #presentation h2{
        width: 80%;
    }
   .slidehome{
       width: 100vw;
       top :15vh;
   }
   .icon-scroll{
       display: none;
   }
   p{
       max-width: 80%;
   }
   h1,h2{
       max-width: 100%;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       border: 0;
       padding: 0;
   }
   h1{
       font-size: 1.7em;
       text-align: center;
   }
   .barreformcomp,.barreformcontact,.barreformservice,.containerhelp{
      display: none;
   }
   .grille i{
    font-size: 5em;
    margin-top: 0.3em;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;

}
   .grille{

    max-width:100%;
    width: 100%;
    height: auto;
    margin-top:2em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,11em);
    justify-content: center;
    grid-gap:0.3em;
}

.cs1:hover{
    transform: translateY(-15px);
}
.cs2:hover{
    transform: translateY(-15px);
}
.cs3:hover{
    transform: translateY(-15px);
}
.cs4:hover{
    transform: translateY(-15px);
}
}